.cus-review text {
    color: black;
}

.card-img {
    height: 100px;
    width: 100px;
}

.cus-review h1 {
    color: deepskyblue;
}

.text {
    color: black;
}

.review-text {
    margin-top: -300px;
    background-color: aliceblue;
}

.card-style {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-right: -50px;
}

.link-btn {
    text-decoration: none;
    color: black;
    font-weight: 600;
}